* {
  margin: 0;
  padding: 0;
}

main {
  display: flex;
  flex-direction: column;
  font-size: 10px;
  font-family: Poppins;
}

:root {
  --herosectioncolor: #fdf4eb;
  --navlinkcolor: orangered;
  --navtextcolor: rgb(41, 43, 44);
  --bgcsection: rgba(122, 120, 120, 0.493);
  scroll-behavior: smooth;
}

/* Header */

.header {
  position: fixed;
  top: 0;
  z-index: 99;
  display: flex;
  flex-direction: row;
  background-color: white;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 7%;
  padding: 1em;
}

.header-img {
  width: 4em;
  height: 4em;
  margin-left: 2em;
}

.nav-list {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  font-size: 1rem;
}

.nav-link {
  margin-right: 2em;
}

a {
  text-decoration: none;
  color: var(--navtextcolor);
}

a:hover {
  color: var(--navlinkcolor);
}

/* Hero Section */

.hero-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 12em 0em;
  background-color: var(--herosectioncolor);
  height: 80vh;
}

.hero-section-text {
  z-index: 2;
  margin-left: 15vw;
  font-size: 2em;
}

.hero-section-header-1 {
  font-size: 2.5em;
}

#hero-section-img {
  width: 100%;
  height: auto;
  z-index: 1;
}

/* Video */

.video {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20em;
}

/* Overview */

.item1 {
  grid-area: header;
  font-size: 5em;
  font-weight: bold;
}
.item2 {
  grid-area: heartrate;
}
.item3 {
  grid-area: workouts;
}
.item4 {
  grid-area: sleeptracking;
}
.item5 {
  grid-area: google;
}
.item6 {
  grid-area: compatibility;
}

.overview-feature {
  font-size: 1rem;
}

.overview {
  display: grid;
  grid-template-areas:
    "header header header header header"
    "heartrate workouts sleeptracking google compatibility";
  background-color: var(--bgcsection);
  place-items: center center;
  padding: 5rem;
  gap: 5em;
}

/* Tech Specs */

.ts-item1 {
  grid-area: header;
  font-size: 5em;
  font-weight: bold;
  place-items: center center;
}
.ts-item2 {
  grid-area: colors;
}
.ts-item3 {
  grid-area: batteryandpower;
}
.ts-item4 {
  grid-area: memory;
}
.ts-item5 {
  grid-area: components;
}
.ts-item6 {
  grid-area: display;
}

.spec-item {
  font-size: 1rem;
}

.tech-specs {
  display: grid;
  grid-template-areas:
    "header header header header header"
    "colors batteryandpower memory components display";
  place-items: center center;
  padding: 5rem;
  gap: 5em;
}

/* Footer */

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 7%;
  padding: 1em;
  background-color: var(--bgcsection);
}

.email-form {
  font-size: 1.5em;
  font-weight: bold;
  width: 25%;
}

#container-form {
  display: flex;
  gap: 1rem;
}

#email-input {
  padding: 0.25rem;
  border-radius: 1rem;
}

.email-button {
  padding: 0.25rem;
  font-size: 0.75rem;
  border-radius: 0.5rem;
  cursor: pointer;
  color: var(--navtextcolor);
  background-color: var(--herosectioncolor);
}

/* For media query usual changes are orientation (row/column) and font size */

@media screen and (prefers-color-scheme: dark) {
  .header {
    background-color: black;
    color: white;
  }

  .nav-link {
    color: white;
  }

  body {
    background-color: black;
    color: white;
  }

  .hero-section-text {
    color: black;
  }
}

@media screen and (max-width: 1024px) {
  .hero-section {
    display: flex;
    flex-direction: column;
  }

  .overview {
    display: flex;
    flex-direction: column;
  }

  .item1 {
    font-size: 2rem;
  }

  .tech-specs {
    display: flex;
    flex-direction: column;
  }

  .ts-item1 {
    font-size: 2rem;
  }

  .footer {
    height: 5%;
    display: flex;
    flex-direction: column;
    padding: 0;
  }
}

@media screen and (max-width: 720px) {
  .hero-section {
    display: flex;
    flex-direction: column;
  }

  .yt-vid {
    width: 3vmin;
  }

  .overview {
    display: flex;
    flex-direction: column;
  }

  .tech-specs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .footer {
    height: 5%;
    display: flex;
    flex-direction: column;
    padding: 0;
  }
}
